.our-contacts .link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-contacts {
  display: flex;
  margin-left: auto;
}
.our-contacts-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-contacts .link:hover .our-contacts-icon,
.our-contacts .link:focus .our-contacts-icon {
  fill: var(--accent-color);
}
